<table>
        <% @posts.each do |p|%>
        <tr>
                <td><%= link_to p.title, "/blogs/#{p.id}" %></td>
                <td><%= p.created_at.strftime('%Y-%b-%d') %></td>
        </tr>
        <tr>
                <td><%= p.post %></td>
        </tr>
        <%end%>
</table>

